<footer class="page-footer">
    <div class="container">
        <div class="page-footer__row">
            <div class="page-footer__col">
                <a href="/" class="page-footer__logo">
                    <img src="img/logo-white.svg" alt="" class="page-footer__logo-image">
                    <span class="page-footer__logo-text">
                        Инжиниринговый<br> центр КАЗГИК
                    </span>
                </a>
                <a href="#" class="page-footer__callback-link">
                    Оставить заявку
                </a>
            </div>
            <div class="page-footer__col">
                <ul class="page-footer__nav-list">
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Главная
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            О нас
                        </a>
                        <ul class="page-footer__nav-submenu-list">
                            <li class="page-footer__nav-submenu-list-item">
                                <a href="#" class="page-footer__nav-submenu-link">
                                    Сотрудники
                                </a>
                            </li>
                            <li class="page-footer__nav-submenu-list-item">
                                <a href="#" class="page-footer__nav-submenu-link">
                                    СМИ о нас
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Лаборатории
                        </a>
                        <ul class="page-footer__nav-submenu-list">
                            <li class="page-footer__nav-submenu-list-item">
                                <a href="#" class="page-footer__nav-submenu-link">
                                    Дизайн костюма
                                </a>
                            </li>
                            <li class="page-footer__nav-submenu-list-item">
                                <a href="#" class="page-footer__nav-submenu-link">
                                    Художественная керамика
                                </a>
                            </li>
                            <li class="page-footer__nav-submenu-list-item">
                                <a href="#" class="page-footer__nav-submenu-link">
                                    Обработка древесины
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Проекты
                        </a>
                    </li>
                </ul>
            </div>
            <div class="page-footer__col">
                <ul class="page-footer__nav-list">
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Услуги
                        </a>
                        <ul class="page-footer__nav-submenu-list">
                            <li class="page-footer__nav-submenu-list-item">
                                <a href="#" class="page-footer__nav-submenu-link">
                                    Образование
                                </a>
                            </li>
                            <li class="page-footer__nav-submenu-list-item">
                                <a href="#" class="page-footer__nav-submenu-link">
                                    Исследование
                                </a>
                            </li>
                            <li class="page-footer__nav-submenu-list-item">
                                <a href="#" class="page-footer__nav-submenu-link">
                                    Инжиниринг
                                </a>
                            </li>
                            <li class="page-footer__nav-submenu-list-item">
                                <a href="#" class="page-footer__nav-submenu-link">
                                    Промышленный дизайн
                                </a>
                            </li>
                            <li class="page-footer__nav-submenu-list-item">
                                <a href="#" class="page-footer__nav-submenu-link">
                                    Подготовка студентов
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="page-footer__contacts">
                    <h4 class="page-footer__contacts-title">
                        Контакты
                    </h4>
                    <div class="page-footer__contacts-address">
                        Казань, ул. Спартаковская,<br> д. 2
                    </div>
                    <a href="tel:+79274231774" class="page-footer__contacts-phone">+7 (927) 423-17-74</a>
                    <ul class="page-footer__contacts-social-list">
                        <li class="page-footer__contacts-social-list-item">
                            <a href="#" class="page-footer__contacts-social-link">
                                <svg width="14" height="14" aria-hidden="true" class="icon-telegram">
                                    <use xlink:href="#telegram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="page-footer__contacts-social-list-item">
                            <a href="#" class="page-footer__contacts-social-link">
                                <svg width="14" height="14" aria-hidden="true" class="icon-vk">
                                    <use xlink:href="#vk"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>