<div class="page-header">
    <div class="page-header__menu">
        <div class="container">
            <div class="page-header__menu-rows">
                <div class="page-header__menu-mobile-btns">
                    <a href="#" class="page-header__menu-mobile-btn">
                        EN
                    </a>
                    <a href="#" class="page-header__menu-mobile-btn">
                        <svg width="14" height="14" aria-hidden="true" class="icon-eye-outline">
                            <use xlink:href="#eye-outline"></use>
                        </svg>
                    </a>
                    <a href="#" class="page-header__menu-mobile-btn">
                        <svg width="14" height="14" aria-hidden="true" class="icon-person-outline">
                            <use xlink:href="#person-outline"></use>
                        </svg>
                    </a>
                </div>
                <div class="page-header__menu-nav">
                    <ul class="page-header__menu-nav-list">
                        <li class="page-header__menu-nav-list-item">
                            <a href="#" class="page-header__menu-nav-link">
                                Главная
                            </a>
                        </li>
                        <li class="page-header__menu-nav-list-item">
                            <a href="#" class="page-header__menu-nav-link">
                                О нас
                            </a>
                        </li>
                        <li class="page-header__menu-nav-list-item">
                            <a href="#" class="page-header__menu-nav-link">
                                Лаборатории
                                <svg width="14" height="14" aria-hidden="true" class="icon-menu-arrow">
                                    <use xlink:href="#menu-arrow"></use>
                                </svg>
                            </a>
                            <div class="page-header__menu-submenu">
                                <div class="page-header__menu-submenu-inner">
                                    <ul class="page-header__menu-submenu-list">
                                        <li class="page-header__menu-submenu-list-item">
                                            <a href="#" class="page-header__menu-submenu-link">
                                                Дизайн костюма
                                            </a>
                                        </li>
                                        <li class="page-header__menu-submenu-list-item">
                                            <a href="#" class="page-header__menu-submenu-link">
                                                Художественная обработка древесины
                                            </a>
                                        </li>
                                        <li class="page-header__menu-submenu-list-item">
                                            <a href="#" class="page-header__menu-submenu-link">
                                                Художественная керамика
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="page-header__menu-nav-list-item">
                            <a href="#" class="page-header__menu-nav-link">
                                Услуги
                                <svg width="14" height="14" aria-hidden="true" class="icon-menu-arrow">
                                    <use xlink:href="#menu-arrow"></use>
                                </svg>
                            </a>
                            <div class="page-header__menu-submenu">
                                <div class="page-header__menu-submenu-inner">
                                    <ul class="page-header__menu-submenu-list">
                                        <li class="page-header__menu-submenu-list-item">
                                            <a href="#" class="page-header__menu-submenu-link">
                                                Дизайн костюма
                                            </a>
                                        </li>
                                        <li class="page-header__menu-submenu-list-item">
                                            <a href="#" class="page-header__menu-submenu-link">
                                                Художественная обработка древесины
                                            </a>
                                        </li>
                                        <li class="page-header__menu-submenu-list-item">
                                            <a href="#" class="page-header__menu-submenu-link">
                                                Художественная керамика
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="page-header__menu-nav-list-item">
                            <a href="#" class="page-header__menu-nav-link">
                                Проекты
                                <svg width="14" height="14" aria-hidden="true" class="icon-menu-arrow">
                                    <use xlink:href="#menu-arrow"></use>
                                </svg>
                            </a>
                            <div class="page-header__menu-submenu">
                                <div class="page-header__menu-submenu-inner">
                                    <ul class="page-header__menu-submenu-list">
                                        <li class="page-header__menu-submenu-list-item">
                                            <a href="#" class="page-header__menu-submenu-link">
                                                Дизайн костюма
                                            </a>
                                        </li>
                                        <li class="page-header__menu-submenu-list-item">
                                            <a href="#" class="page-header__menu-submenu-link">
                                                Художественная обработка древесины
                                            </a>
                                        </li>
                                        <li class="page-header__menu-submenu-list-item">
                                            <a href="#" class="page-header__menu-submenu-link">
                                                Художественная керамика
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="page-header__menu-nav-list-item">
                            <a href="#" class="page-header__menu-nav-link">
                                Достижения
                            </a>
                        </li>
                        <li class="page-header__menu-nav-list-item">
                            <a href="#" class="page-header__menu-nav-link">
                                Контакты
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="page-header__menu-contacts">
                    <div class="page-header__menu-contacts-title">
                        ИЦ
                    </div>
                    <h3 class="page-header__menu-contacts-heading">
                        Контакты
                    </h3>
                    <div class="page-header__menu-contacts-address">
                        Казань, ул. Спартаковская, д. 2<br> <a href="#">
                            на карте
                        </a>
                    </div>
                    <a href="tel:+79274231774" class="page-header__menu-contacts-phone">+7 (927) 423-17-74</a>
                    <a href="mailto:email@email.com" class="page-header__menu-contacts-email">email@email.com</a>
                    <ul class="page-header__menu-social-list">
                        <li class="page-header__menu-social-list-item">
                            <a href="#" class="page-header__menu-social-link">
                                <svg width="14" height="14" aria-hidden="true" class="icon-telegram">
                                    <use xlink:href="#telegram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="page-header__menu-social-list-item">
                            <a href="#" class="page-header__menu-social-link">
                                <svg width="14" height="14" aria-hidden="true" class="icon-vk">
                                    <use xlink:href="#vk"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="page-header__top">
        <div class="container">
            <div class="page-header__top-row">
                <div class="page-header__languages">
                    <a href="#" class="page-header__languages-link active">
                        ru
                    </a>
                    <a href="#" class="page-header__languages-link">
                        eng
                    </a>
                </div>
                <div class="page-header__links">
                    <a href="#" class="page-header__link">
                        <svg width="14" height="14" aria-hidden="true" class="icon-eye">
                            <use xlink:href="#eye"></use>
                        </svg>
                    </a>
                    <a href="#" class="page-header__link">
                        <svg width="14" height="14" aria-hidden="true" class="icon-person">
                            <use xlink:href="#person"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="page-header__bottom">
        <div class="container">
            <div class="page-header__bottom-row">
                <a href="#" class="page-header__logo">
                    <img src="img/logo.svg" alt="" class="page-header__logo-image">
                    <span class="page-header__logo-text">
                        Инжиниринговый<br> центр КАЗГИК
                    </span>
                </a>
                <nav class="page-header__nav">
                    <ul class="page-header__nav-list">
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                Главная
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                О нас
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                Лаборатории
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                Проекты
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                Услуги
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                Достижения
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                Контакты
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="page-header__btns">
                    <a href="#" class="page-header__search-btn">
                        <svg width="14" height="14" aria-hidden="true" class="icon-search">
                            <use xlink:href="#search"></use>
                        </svg>
                    </a>
                    <button class="page-header__burger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>