{{!-- <div class="page-header">
    <div class="page-header__top">
        <div class="container">
            <div class="page-header__top-row">
                <div class="page-header__languages">
                    <a href="#" class="page-header__languages-link active">
                        ru
                    </a>
                    <a href="#" class="page-header__languages-link">
                        eng
                    </a>
                </div>
                <div class="page-header__links">
                    <a href="#" class="page-header__link">
                        <svg width="14" height="14" aria-hidden="true" class="icon-eye">
                            <use xlink:href="#eye"></use>
                        </svg>
                    </a>
                    <a href="#" class="page-header__link">
                        <svg width="14" height="14" aria-hidden="true" class="icon-person">
                            <use xlink:href="#person"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="page-header__bottom">
        <div class="container">
            <div class="page-header__bottom-row">
                <a href="#" class="page-header__logo">
                    <img src="img/logo.svg" alt="" class="page-header__logo-image">
                    <span class="page-header__logo-text">
                        Инжиниринговый центр<br> КАЗГИК
                    </span>
                </a>
                <nav class="page-header__nav">
                    <ul class="page-header__nav-list">
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__link">
                                Главная
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__link">
                                О нас
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__link">
                                Лаборатории
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__link">
                                Проекты
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__link">
                                Услуги
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__link">
                                Достижения
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__link">
                                Контакты
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="page-header__btns">
                    <a href="#" class="page-header__btn">
                        <svg width="14" height="14" aria-hidden="true" class="icon-search">
                            <use xlink:href="#search"></use>
                        </svg>
                    </a>
                    <button class="page-header__burger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div> --}}