<div class="social js-social">
    <button class="social__btn" type="button">
        <svg width="14" height="14" aria-hidden="true" class="icon-message">
            <use xlink:href="#message"></use>
        </svg>
    </button>
    <div class="social__dropdown">
        <ul class="social__list">
            <li class="social__list-item">
                <a href="#" class="social__link">
                    <img src="img/social/telegram.svg" alt="" class="social__link-image">
                </a>
            </li>

            <li class="social__list-item">
                <a href="#" class="social__link">
                    <img src="img/social/vkontakte.svg" alt="" class="social__link-image">
                </a>
            </li>
            <li class="social__list-item">
                <a href="#" class="social__link">
                    <img src="img/social/whatsapp.svg" alt="" class="social__link-image">
                </a>
            </li>

        </ul>
    </div>
</div>