{{#extend "layout"}}
    {{#content "main"}}

        <section class="projects-page">
            <div class="container">
                <div class="projects-page__top-row">
                    <img src="img/achivements-decor.svg" alt="" class="project-page__decor">
                    <h1 class="projects-page__heading">
                        партнеры
                    </h1>

                    <div class="projects-page__filters">
                        <a href="#" class="projects-page__filters-link active">
                            Все
                        </a>
                        <a href="#" class="projects-page__filters-link projects-page__filters-link--green">
                            /керамика
                        </a>
                        <a href="#" class="projects-page__filters-link projects-page__filters-link--orange">
                            /древесина
                        </a>
                        <a href="#" class="projects-page__filters-link projects-page__filters-link--dark-green">
                            /костюм
                        </a>
                    </div>
                </div>
                <div class="projects-page__content">
                    <div class="projects-page__top">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="achievements">
                        <ul class="achivements__list">
                            <li class="achievements__list-item">
                                <a href="#" class="partners__card">
                                    <div class="partners__card-image-container">
                                        <img src="img/zarniza.png" alt="" class="partners__card-image">
                                    </div>
                                    <div class="partners__card-content">
                                        <h4 class="partners__card-title">
                                            Zarnitza
                                        </h4>
                                        <div class="partners__card-text">
                                            Разработка и производство учебного оборудования для любых специальностей
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="achievements__list-item">
                                <a href="#" class="partners__card">
                                    <div class="partners__card-image-container">
                                        <img src="img/zarniza.png" alt="" class="partners__card-image">
                                    </div>
                                    <div class="partners__card-content">
                                        <h4 class="partners__card-title">
                                            Zarnitza
                                        </h4>
                                        <div class="partners__card-text">
                                            Разработка и производство учебного оборудования для любых специальностей
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="achievements__list-item">
                                <a href="#" class="partners__card">
                                    <div class="partners__card-image-container">
                                        <img src="img/zarniza.png" alt="" class="partners__card-image">
                                    </div>
                                    <div class="partners__card-content">
                                        <h4 class="partners__card-title">
                                            Zarnitza
                                        </h4>
                                        <div class="partners__card-text">
                                            Разработка и производство учебного оборудования для любых специальностей
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="achievements__list-item">
                                <a href="#" class="partners__card">
                                    <div class="partners__card-image-container">
                                        <img src="img/zarniza.png" alt="" class="partners__card-image">
                                    </div>
                                    <div class="partners__card-content">
                                        <h4 class="partners__card-title">
                                            Zarnitza
                                        </h4>
                                        <div class="partners__card-text">
                                            Разработка и производство учебного оборудования для любых специальностей
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="achievements__list-item">
                                <a href="#" class="partners__card">
                                    <div class="partners__card-image-container">
                                        <img src="img/zarniza.png" alt="" class="partners__card-image">
                                    </div>
                                    <div class="partners__card-content">
                                        <h4 class="partners__card-title">
                                            Zarnitza
                                        </h4>
                                        <div class="partners__card-text">
                                            Разработка и производство учебного оборудования для любых специальностей
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <div class="achievements__bottom">
                            <span></span>
                            <span>
                                <a href="#" class="achievements__load-more">
                                    загрузить ещё
                                </a>
                            </span>
                            <span></span>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="awards js-awards-slider">
            <div class="container">
                <div class="awards__top-row">
                    <h2 class="awards__heading">
                        наши награды
                    </h2>
                    <div class="awards__arrows-wrapper">
                        <div class="awards__arrows">
                            <button class="awards__arrow awards__arrow--prev">
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                                    <use xlink:href="#arrow-left"></use>
                                </svg>
                            </button>
                            <button class="awards__arrow awards__arrow--next">
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="awards__content">
                    <div class="awards__slider">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="awards__slider-card">
                                        <div class="awards__slider-card-image-container">

                                        </div>
                                        <h3 class="awards__slider-card-title">
                                            Награда «Лучший инжиниринговый центр»
                                        </h3>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="awards__slider-card">
                                        <div class="awards__slider-card-image-container">

                                        </div>
                                        <h3 class="awards__slider-card-title">
                                            Награда «Лучший инжиниринговый центр»
                                        </h3>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="awards__slider-card">
                                        <div class="awards__slider-card-image-container">

                                        </div>
                                        <h3 class="awards__slider-card-title">
                                            Награда «Лучший инжиниринговый центр»
                                        </h3>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="awards__slider-card">
                                        <div class="awards__slider-card-image-container">

                                        </div>
                                        <h3 class="awards__slider-card-title">
                                            Награда «Лучший инжиниринговый центр»
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    {{/content}}
{{/extend}}