{{#extend "layout"}}
    {{#content "main"}}

        <section class="employee">
            <div class="container">
                <div class="breadcrumbs employee__breadcrumbs">
                    <a href="#">Лаборатории</a> / <a href="#">Дизайн костюма</a> / <a href="#">Команда</a> / <a href="#"
                        class="active">Салахов
                        Расых Фарукович</a>
                </div>
                <div class="employee__row">
                    <div class="employee__left-col">
                        <div class="employee__image-container">
                            <img src="img/employee.jpg" alt="" class="employee__image">
                        </div>
                    </div>
                    <div class="employee__right-col">
                        <div class="employee__text-content">


                            <h1 class="employee__main-heading">
                                <em>Салахов</em><br>
                                Расых Фарукович
                            </h1>
                            <div class="employee__role">
                                Заведующий научно-экспериментальной лабораторией
                            </div>
                            <ul class="employee__info-list">
                                <li class="employee__info-list-item">
                                    <div class="employee__info-card">
                                        <h2 class="employee__info-card-title">
                                            Уровень образования
                                        </h2>
                                        <div class="employee__info-card-text">
                                            <p>
                                                Высшее, Чувашский государственный педагогический институт им.
                                                И.Я.Яковлева,
                                                художественно-графический факультет, 1990 г.
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="employee__info-list-item">
                                    <div class="employee__info-card">
                                        <h2 class="employee__info-card-title">
                                            Квалификация
                                        </h2>
                                        <div class="employee__info-card-text">
                                            <p>
                                                Преподаватель изобразительного искусства и черчения
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="employee__info-list-item">
                                    <div class="employee__info-card">
                                        <h2 class="employee__info-card-title">
                                            Ученая степень
                                        </h2>
                                        <div class="employee__info-card-text">
                                            <p>
                                                Кандидат педагогических наук, 2014 г.
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="employee__info-list-item">
                                    <div class="employee__info-card">
                                        <h2 class="employee__info-card-title">
                                            Ученое звание
                                        </h2>
                                        <div class="employee__info-card-text">
                                            <p>
                                                -
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="employee__info-list-item">
                                    <div class="employee__info-card">
                                        <h2 class="employee__info-card-title">
                                            Общий стаж работы
                                        </h2>
                                        <div class="employee__info-card-text">
                                            <p>
                                                33 года
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="employee__info-list-item">
                                    <div class="employee__info-card">
                                        <h2 class="employee__info-card-title">
                                            Пройденные курсы повышения квалификации
                                        </h2>
                                        <div class="employee__info-card-text">
                                            <ul>
                                                <li>
                                                    «Аналитико-информационные компетенции и повышение публикационной
                                                    актив.
                                                    преп.соврем.вуза», Казанский международный лингвистический центр
                                                    ИФМК
                                                    КФУ», 2015 г.
                                                </li>
                                                <li>
                                                    Профессиональная переподготовка «Теория, история искусства,
                                                    Профессиональная деятельность в сфере искусствоведения,Казанский
                                                    международный лингвистический центр Института филологии и
                                                    межкультурной
                                                    коммуникации КФУ, 2015 г.
                                                </li>
                                                <li>
                                                    «Информационная компетентность преподавателя в области применения IT
                                                    в
                                                    учебном процессе университета», Казанский (Приволжский) федеральный
                                                    университет, 2017 г.
                                                </li>
                                                <li>
                                                    «Психолого-педагогическое и методическое сопровождение обучающихся с
                                                    инвалидностью и ограниченными возможностями здоровья в инклюзивной
                                                    образовательной среде вуза: формирование доступной образовательной
                                                    среды», ФГБОУ ВО «Кемеровский государственный институт культуры»,
                                                    2018
                                                    г.
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    {{/content}}
{{/extend}}