{{#extend "layout"}}
    {{#content "main"}}

        <section class="news-detail">
            <div class="container">
                <div class="breadcrumbs news-detail__breadcrumbs">
                    <a href="#">Главная</a> /
                    <a href="#">Новости</a> /
                    <a href="#" class="active">Образовательная сессия «Креативная неделя. Fashion-интенсив»</a>
                </div>
                <div class="news-detail__top-row">
                    <h1 class="news-detail__main-heading">Образовательная сессия «Креативная неделя. Fashion-интенсив»
                    </h1>
                    <picture>
                        <source srcset="img/news-detail-decor-mobile.svg" media="(max-width: 640px)" />
                        <img src="img/news-detail-decor.svg" alt="" class="news-detail__decor" />
                    </picture>
                </div>
                <div class="news-detail__content">
                    <div class="news-detail__row">
                        <div class="news-detail__left-col">
                            <div class="news-detail__text-content">
                                <p>
                                    16 июня в г. Москва совместно с Департаментом лёгкой промышленности и
                                    лесопромышленного
                                    комплекса Министерства промышленности и торговли РФ состоялась образовательная
                                    сессия
                                    «Креативная неделя. Fashion-интенсив».
                                </p>
                                <p>
                                    Организаторами мероприятия стали дирекция Фестиваля-Форума «Российская креативная
                                    неделя» совместно с FASHION HUB RUSSIA.
                                    В рамках мероприятия экспертами сообщества было проведено ознакомление участников с
                                    действующей моделью организации работы от создания продукции российскими брендами до
                                    представления их в каналах продаж.
                                </p>
                                <p>
                                    Директор Инжинирингового центра, функционирующего на базе Казанского
                                    государственного института культуры- Султанов Шамиль Джавгарович принял участие в
                                    образовательной сессии, и поделился своим опытом в этой деятельности.
                                </p>

                            </div>
                        </div>
                        <div class="news-detail__right-col">
                            <div class="news-detail__tag news-detail__tag--dark-green">
                                /дизайн костюма
                            </div>
                            <div class="news-detail__date">
                                16 июня 2022
                            </div>
                        </div>
                    </div>
                    <div class="gallery-slider js-gallery-slider js-gallery-slider-6-thumbs">
                        <div class="gallery-slider__main">
                            <div class="gallery-slider__main-inner">
                                <div class="swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="gallery-slider__main-card">
                                                <img src="img/gallery.jpg" alt=""
                                                    class="gallery-slider__main-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="gallery-slider__main-card">
                                                <img src="img/gallery.jpg" alt=""
                                                    class="gallery-slider__main-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="gallery-slider__main-card">
                                                <img src="img/gallery.jpg" alt=""
                                                    class="gallery-slider__main-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="gallery-slider__main-card">
                                                <img src="img/gallery.jpg" alt=""
                                                    class="gallery-slider__main-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="gallery-slider__main-card">
                                                <img src="img/gallery.jpg" alt=""
                                                    class="gallery-slider__main-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="gallery-slider__main-card">
                                                <img src="img/gallery.jpg" alt=""
                                                    class="gallery-slider__main-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="gallery-slider__main-card">
                                                <img src="img/gallery.jpg" alt=""
                                                    class="gallery-slider__main-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="gallery-slider__main-card">
                                                <img src="img/gallery.jpg" alt=""
                                                    class="gallery-slider__main-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="gallery-slider__main-card">
                                                <img src="img/gallery.jpg" alt=""
                                                    class="gallery-slider__main-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="gallery-slider__main-card">
                                                <img src="img/gallery.jpg" alt=""
                                                    class="gallery-slider__main-card-image">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="gallery-slider__panel">

                                    <div class="gallery-slider__arrows">
                                        <button class="gallery-slider__arrow gallery-slider__arrow--prev">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                                                <use xlink:href="#arrow-left"></use>
                                            </svg>
                                        </button>
                                        <button class="gallery-slider__arrow gallery-slider__arrow--next">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                                <use xlink:href="#arrow-right"></use>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gallery-slider__thumbs">
                            <div class="swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="gallery-slider__thumbs-card">
                                            <div class="gallery-slider__thumbs-card-image-wrapper">
                                                <img src="img/gallery.jpg" alt=""
                                                    class="gallery-slider__thumbs-card-image">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="gallery-slider__thumbs-card">
                                            <div class="gallery-slider__thumbs-card-image-wrapper">
                                                <img src="img/gallery.jpg" alt=""
                                                    class="gallery-slider__thumbs-card-image">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="gallery-slider__thumbs-card">
                                            <div class="gallery-slider__thumbs-card-image-wrapper">
                                                <img src="img/gallery.jpg" alt=""
                                                    class="gallery-slider__thumbs-card-image">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="gallery-slider__thumbs-card">
                                            <div class="gallery-slider__thumbs-card-image-wrapper">
                                                <img src="img/gallery.jpg" alt=""
                                                    class="gallery-slider__thumbs-card-image">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="gallery-slider__thumbs-card">
                                            <div class="gallery-slider__thumbs-card-image-wrapper">
                                                <img src="img/gallery.jpg" alt=""
                                                    class="gallery-slider__thumbs-card-image">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="gallery-slider__thumbs-card">
                                            <div class="gallery-slider__thumbs-card-image-wrapper">
                                                <img src="img/gallery.jpg" alt=""
                                                    class="gallery-slider__thumbs-card-image">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="gallery-slider__thumbs-card">
                                            <div class="gallery-slider__thumbs-card-image-wrapper">
                                                <img src="img/gallery.jpg" alt=""
                                                    class="gallery-slider__thumbs-card-image">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="gallery-slider__thumbs-card">
                                            <div class="gallery-slider__thumbs-card-image-wrapper">
                                                <img src="img/gallery.jpg" alt=""
                                                    class="gallery-slider__thumbs-card-image">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="gallery-slider__thumbs-card">
                                            <div class="gallery-slider__thumbs-card-image-wrapper">
                                                <img src="img/gallery.jpg" alt=""
                                                    class="gallery-slider__thumbs-card-image">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="gallery-slider__thumbs-card">
                                            <div class="gallery-slider__thumbs-card-image-wrapper">
                                                <img src="img/gallery.jpg" alt=""
                                                    class="gallery-slider__thumbs-card-image">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="news-detail__bottom">
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </section>

    {{/content}}
{{/extend}}