{{#extend "layout"}}
    {{#content "main"}}

        <section class="project">
            <div class="container">
                <div class="breadcrumbs project__breadcrumbs">
                    <a href="#">Проекты </a> / <a href="#">Дизайн костюма </a> / <a href="#" class="active">Этнический
                        костюм</a>
                </div>
                <div class="project__top-row">
                    <div class="project__heading-wrapper">
                        <h1 class="project__heading">
                            этнический костюм
                        </h1>
                        <div class="project__date">
                            Март 2022
                        </div>
                    </div>
                    <picture>
                        <source srcset="img/project-decor-mobile.svg" media="(max-width: 640px)" />
                        <img src="img/project-decor.svg" alt="" class="project__decor" />
                    </picture>
                </div>
                <div class="project__content">



                    <div class="project__info">
                        <div class="project__tag project__tag--dark-green">
                            /дизайн костюма
                        </div>
                        <div class="project__info-content">
                            <div class="project__info-date">
                                Март 2022
                            </div>
                            <div class="project__info-text">
                                Проектирование этнических костюмов в Инжиниринговом центре с использованием современных
                                информационных технологий.
                            </div>
                        </div>
                    </div>

                    <div class="gallery-slider project__gallery-slider js-gallery-slider">
                        <div class="gallery-slider__main">
                            <div class="gallery-slider__main-inner">
                                <div class="swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="gallery-slider__main-card">
                                                <img src="img/gallery.jpg" alt=""
                                                    class="gallery-slider__main-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="gallery-slider__main-card">
                                                <img src="img/gallery.jpg" alt=""
                                                    class="gallery-slider__main-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="gallery-slider__main-card">
                                                <img src="img/gallery.jpg" alt=""
                                                    class="gallery-slider__main-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="gallery-slider__main-card">
                                                <img src="img/gallery.jpg" alt=""
                                                    class="gallery-slider__main-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="gallery-slider__main-card">
                                                <img src="img/gallery.jpg" alt=""
                                                    class="gallery-slider__main-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="gallery-slider__main-card">
                                                <img src="img/gallery.jpg" alt=""
                                                    class="gallery-slider__main-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="gallery-slider__main-card">
                                                <img src="img/gallery.jpg" alt=""
                                                    class="gallery-slider__main-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="gallery-slider__main-card">
                                                <img src="img/gallery.jpg" alt=""
                                                    class="gallery-slider__main-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="gallery-slider__main-card">
                                                <img src="img/gallery.jpg" alt=""
                                                    class="gallery-slider__main-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="gallery-slider__main-card">
                                                <img src="img/gallery.jpg" alt=""
                                                    class="gallery-slider__main-card-image">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="gallery-slider__panel">
                                    <div class="gallery-slider__panel-tabs">
                                        <div class="gallery-slider__panel-tab">
                                            Пояснения к изображениям центра 1
                                        </div>
                                        <div class="gallery-slider__panel-tab">
                                            Пояснения к изображениям центра 2
                                        </div>
                                        <div class="gallery-slider__panel-tab">
                                            Пояснения к изображениям центра 3
                                        </div>
                                        <div class="gallery-slider__panel-tab">
                                            Пояснения к изображениям центра 4
                                        </div>
                                        <div class="gallery-slider__panel-tab">
                                            Пояснения к изображениям центра 5
                                        </div>
                                        <div class="gallery-slider__panel-tab">
                                            Пояснения к изображениям центра 6
                                        </div>
                                        <div class="gallery-slider__panel-tab">
                                            Пояснения к изображениям центра 7
                                        </div>
                                        <div class="gallery-slider__panel-tab">
                                            Пояснения к изображениям центра 8
                                        </div>
                                        <div class="gallery-slider__panel-tab">
                                            Пояснения к изображениям центра 9
                                        </div>
                                        <div class="gallery-slider__panel-tab">
                                            Пояснения к изображениям центра 10
                                        </div>
                                    </div>
                                    <div class="gallery-slider__arrows">
                                        <button class="gallery-slider__arrow gallery-slider__arrow--prev">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                                                <use xlink:href="#arrow-left"></use>
                                            </svg>
                                        </button>
                                        <button class="gallery-slider__arrow gallery-slider__arrow--next">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                                <use xlink:href="#arrow-right"></use>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gallery-slider__thumbs">
                            <div class="swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="gallery-slider__thumbs-card">
                                            <div class="gallery-slider__thumbs-card-image-wrapper">
                                                <img src="img/gallery.jpg" alt=""
                                                    class="gallery-slider__thumbs-card-image">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="gallery-slider__thumbs-card">
                                            <div class="gallery-slider__thumbs-card-image-wrapper">
                                                <img src="img/gallery.jpg" alt=""
                                                    class="gallery-slider__thumbs-card-image">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="gallery-slider__thumbs-card">
                                            <div class="gallery-slider__thumbs-card-image-wrapper">
                                                <img src="img/gallery.jpg" alt=""
                                                    class="gallery-slider__thumbs-card-image">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="gallery-slider__thumbs-card">
                                            <div class="gallery-slider__thumbs-card-image-wrapper">
                                                <img src="img/gallery.jpg" alt=""
                                                    class="gallery-slider__thumbs-card-image">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="gallery-slider__thumbs-card">
                                            <div class="gallery-slider__thumbs-card-image-wrapper">
                                                <img src="img/gallery.jpg" alt=""
                                                    class="gallery-slider__thumbs-card-image">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="gallery-slider__thumbs-card">
                                            <div class="gallery-slider__thumbs-card-image-wrapper">
                                                <img src="img/gallery.jpg" alt=""
                                                    class="gallery-slider__thumbs-card-image">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="gallery-slider__thumbs-card">
                                            <div class="gallery-slider__thumbs-card-image-wrapper">
                                                <img src="img/gallery.jpg" alt=""
                                                    class="gallery-slider__thumbs-card-image">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="gallery-slider__thumbs-card">
                                            <div class="gallery-slider__thumbs-card-image-wrapper">
                                                <img src="img/gallery.jpg" alt=""
                                                    class="gallery-slider__thumbs-card-image">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="gallery-slider__thumbs-card">
                                            <div class="gallery-slider__thumbs-card-image-wrapper">
                                                <img src="img/gallery.jpg" alt=""
                                                    class="gallery-slider__thumbs-card-image">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="gallery-slider__thumbs-card">
                                            <div class="gallery-slider__thumbs-card-image-wrapper">
                                                <img src="img/gallery.jpg" alt=""
                                                    class="gallery-slider__thumbs-card-image">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="project__about-row">
                        <div class="project__about-left-col">
                            <h2 class="project__about-heading">
                                О проекте
                            </h2>
                        </div>
                        <div class="project__about-right-col">
                            <div class="project__about-text">
                                <p>
                                    Это текст рыба. В этом блоке можно отразить итоги проекта или его процесс, или любой
                                    другой текст относящийся к нему. Таким образом рамки и место обучения кадров
                                    позволяет выполнять важные задания по разработке системы обучения кадров,
                                    соответствует насущным потребностям.
                                </p>
                                <p>
                                    С другой стороны реализация намеченных плановых заданий играет важную роль в
                                    формировании направлений прогрессивного развития. Повседневная практика показывает,
                                    что постоянный количественный рост и сфера нашей активности влечет за собой процесс
                                    внедрения и модернизации системы обучения кадров, соответствует насущным
                                    потребностям.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="project__team-row">
                        <div class="project__team-left-col">
                            <h2 class="project__team-heading">
                                Команда проекта
                            </h2>
                        </div>
                        <div class="project__team-right-col">
                            <ul class="team__list team__list--two-col">
                                <li class="team__list-item">
                                    <a href="#" class="team__card">
                                        <div class="team__card-image-container">
                                            <img src="img/team1.jpg" alt="" class="team__card-image">
                                        </div>
                                        <h3 class="team__card-title">
                                            Салахов
                                            Расых Фарукович
                                        </h3>
                                        <div class="team__card-text">
                                            Заведующий научно-экспериментальной лабораторией
                                        </div>
                                    </a>
                                </li>
                                <li class="team__list-item">
                                    <a href="#" class="team__card">
                                        <div class="team__card-image-container">

                                        </div>
                                        <h3 class="team__card-title">
                                            Фамилия
                                            Имя Отчество
                                        </h3>
                                        <div class="team__card-text">
                                            Специалист научно-экспериментальной лаборатории
                                        </div>
                                    </a>
                                </li>
                                <li class="team__list-item">
                                    <a href="#" class="team__card">
                                        <div class="team__card-image-container">

                                        </div>
                                        <h3 class="team__card-title">
                                            Фамилия
                                            Имя Отчество
                                        </h3>
                                        <div class="team__card-text">
                                            Специалист научно-экспериментальной лаборатории
                                        </div>
                                    </a>
                                </li>
                                <li class="team__list-item">
                                    <a href="#" class="team__card">
                                        <div class="team__card-image-container">

                                        </div>
                                        <h3 class="team__card-title">
                                            Фамилия
                                            Имя Отчество
                                        </h3>
                                        <div class="team__card-text">
                                            Специалист научно-экспериментальной лаборатории
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="project__bottom">
                        <div class="project__links-wrapper">


                            <div class="project__links">
                                <a href="#" class="project__link">
                                    следующий проект
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </a>
                                <a href="#" class="project__link">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                                        <use xlink:href="#arrow-left"></use>
                                    </svg>
                                    предыдущий проект
                                </a>
                            </div>
                        </div>
                        <div class="project__shape-wrapper">
                            <img src="img/project-shape.svg" alt="" class="project__shape-image">
                            <img src="img/project-shape-corner.svg" alt="" class="project__shape-corner">
                        </div>
                    </div>
                </div>
            </div>
        </section>



    {{/content}}
{{/extend}}