{{#extend "layout"}}
    {{#content "main"}}

        <section class="projects-page">
            <div class="container">
                <div class="projects-page__top-row">
                    <h1 class="projects-page__heading">
                        проекты
                    </h1>

                    <div class="projects-page__filters">
                        <a href="#" class="projects-page__filters-link active">
                            Все
                        </a>
                        <a href="#" class="projects-page__filters-link projects-page__filters-link--green">
                            /керамика
                        </a>
                        <a href="#" class="projects-page__filters-link projects-page__filters-link--orange">
                            /древесина
                        </a>
                        <a href="#" class="projects-page__filters-link projects-page__filters-link--dark-green">
                            /костюм
                        </a>
                    </div>
                </div>
                <div class="projects-page__content">
                    <div class="projects-page__top">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <ul class="projects__list">
                        <li class="projects__list-item">
                            <a href="#" class="projects__card">
                                <div class="projects__card-image-container">
                                    <img src="img/projects/1.jpg" alt="" class="projects__card-image">
                                    <div class="projects__card-tag">
                                        /художественная керамика
                                    </div>
                                </div>
                                <div class="projects__card-row">
                                    <h3 class="projects__card-title">
                                        Памятный знак в честь 1100-летия официального принятия ислама Волжской Булгарией
                                    </h3>
                                    <div class="projects__card-text">
                                        Это текст рыба. 20 мая 2022 года в рамках празднования 1100-летия принятия
                                        ислама Волжской Булгарией заложат памятный камень в честь строительства Соборной
                                        мечети г.Казани.
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="projects__list-item">
                            <a href="#" class="projects__card">
                                <div class="projects__card-image-container">
                                    <img src="img/projects/2.jpg" alt="" class="projects__card-image">
                                    <div class="projects__card-tag projects__card-tag--orange">
                                        /обработка деревесины
                                    </div>
                                </div>
                                <div class="projects__card-row">
                                    <h3 class="projects__card-title">
                                        Памятный знак в честь 1100-летия официального принятия ислама Волжской Булгарией
                                    </h3>
                                    <div class="projects__card-text">
                                        Это текст рыба. 20 мая 2022 года в рамках празднования 1100-летия принятия
                                        ислама Волжской Булгарией заложат памятный камень в честь строительства Соборной
                                        мечети г.Казани.
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="projects__list-item">
                            <a href="#" class="projects__card">
                                <div class="projects__card-image-container">
                                    <img src="img/projects/3.jpg" alt="" class="projects__card-image">
                                    <div class="projects__card-tag projects__card-tag--dark-green">
                                        /дизайн костюма
                                    </div>
                                </div>
                                <div class="projects__card-row">
                                    <h3 class="projects__card-title">
                                        Проект линейки этнических костюмов для Kazan Fasion week
                                    </h3>
                                    <div class="projects__card-text">
                                        Это текст рыба. 20 мая 2022 года в рамках празднования 1100-летия принятия
                                        ислама Волжской Булгарией заложат памятный камень в честь строительства Соборной
                                        мечети г.Казани.
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="projects__list-item">
                            <a href="#" class="projects__card">
                                <div class="projects__card-image-container">
                                    <img src="img/projects/1.jpg" alt="" class="projects__card-image">
                                    <div class="projects__card-tag">
                                        /художественная керамика
                                    </div>
                                </div>
                                <div class="projects__card-row">
                                    <h3 class="projects__card-title">
                                        Памятный знак в честь 1100-летия официального принятия ислама Волжской Булгарией
                                    </h3>
                                    <div class="projects__card-text">
                                        Это текст рыба. 20 мая 2022 года в рамках празднования 1100-летия принятия
                                        ислама Волжской Булгарией заложат памятный камень в честь строительства Соборной
                                        мечети г.Казани.
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="projects__list-item">
                            <a href="#" class="projects__card">
                                <div class="projects__card-image-container">
                                    <img src="img/projects/1.jpg" alt="" class="projects__card-image">
                                    <div class="projects__card-tag">
                                        /художественная керамика
                                    </div>
                                </div>
                                <div class="projects__card-row">
                                    <h3 class="projects__card-title">
                                        Памятный знак в честь 1100-летия официального принятия ислама Волжской Булгарией
                                    </h3>
                                    <div class="projects__card-text">
                                        Это текст рыба. 20 мая 2022 года в рамках празднования 1100-летия принятия
                                        ислама Волжской Булгарией заложат памятный камень в честь строительства Соборной
                                        мечети г.Казани.
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="projects__list-item">
                            <a href="#" class="projects__card">
                                <div class="projects__card-image-container">
                                    <img src="img/projects/2.jpg" alt="" class="projects__card-image">
                                    <div class="projects__card-tag projects__card-tag--orange">
                                        /обработка деревесины
                                    </div>
                                </div>
                                <div class="projects__card-row">
                                    <h3 class="projects__card-title">
                                        Памятный знак в честь 1100-летия официального принятия ислама Волжской Булгарией
                                    </h3>
                                    <div class="projects__card-text">
                                        Это текст рыба. 20 мая 2022 года в рамках празднования 1100-летия принятия
                                        ислама Волжской Булгарией заложат памятный камень в честь строительства Соборной
                                        мечети г.Казани.
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="projects-page__bottom">
                        <span></span>
                        <span>
                            <a href="#" class="projects-page__load-more">
                                загрузить ещё
                            </a>
                        </span>
                        <span></span>
                    </div>
                </div>
            </div>
        </section>



    {{/content}}
{{/extend}}