{{#extend "layout"}}
    {{#content "main"}}

        <section class="service-page">
            <div class="container">
                <div class="breadcrumbs service-page__breadcrumbs">
                    <a href="#">
                        Услуги
                    </a>
                    / <a href="#">Образование</a> / <a href="#">Переподготовка</a> / <a href="#"
                        class="active">«Арт-бизнес»</a>
                </div>
                <div class="service-page__top-row">
                    <h1 class="service-page__heading">
                        «Арт-бизнес»
                    </h1>
                    <picture>
                        <source srcset="img/project-decor-mobile.svg" media="(max-width: 640px)" />
                        <img src="img/project-decor.svg" alt="" class="service-page__decor" />
                    </picture>
                </div>
                <div class="service-page__content">
                    <div class="service-page__row">
                        <div class="service-page__left-col">
                            <div class="service-page__info">
                                <div class="service-page__info-tag service-page__info-tag--dark-green">
                                    программа переподготовки
                                </div>
                                <div class="service-page__info-content">
                                    <ul class="service-page__info-features-list">
                                        <li class="service-page__info-features-list-item">
                                            <div class="service-page__features-card">
                                                <h4 class="service-page__features-card-title">
                                                    Объем
                                                </h4>
                                                <div class="service-page__features-card-text">
                                                    250 часов
                                                </div>
                                            </div>
                                        </li>
                                        <li class="service-page__info-features-list-item">
                                            <div class="service-page__features-card">
                                                <h4 class="service-page__features-card-title">
                                                    Длительность
                                                </h4>
                                                <div class="service-page__features-card-text">
                                                    2,5 месяца
                                                </div>
                                            </div>
                                        </li>
                                        <li class="service-page__info-features-list-item">
                                            <div class="service-page__features-card">
                                                <h4 class="service-page__features-card-title">
                                                    Формат
                                                </h4>
                                                <div class="service-page__features-card-text">
                                                    Заочно
                                                </div>
                                            </div>
                                        </li>
                                        <li class="service-page__info-features-list-item">
                                            <div class="service-page__features-card">
                                                <h4 class="service-page__features-card-title">
                                                    Начало обучения
                                                </h4>
                                                <div class="service-page__features-card-text">
                                                    Май 2022 года
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="service-page__info-features-price">
                                        <h4 class="service-page__info-features-price-heading">
                                            Стоимость
                                        </h4>
                                        <div class="service-page__info-features-price-text">
                                            10 000 ₽
                                        </div>
                                    </div>
                                    <a href="#" class="service-page__info-link">
                                        Оставить заявку
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="service-page__right-col">
                            <div
                                class="gallery-slider service-page__gallery-slider js-gallery-slider js-gallery-slider-4-thumbs">
                                <div class="gallery-slider__main">
                                    <div class="gallery-slider__main-inner">
                                        <div class="swiper">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <div class="gallery-slider__main-card">
                                                        <img src="img/gallery.jpg" alt=""
                                                            class="gallery-slider__main-card-image">
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="gallery-slider__main-card">
                                                        <img src="img/gallery.jpg" alt=""
                                                            class="gallery-slider__main-card-image">
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="gallery-slider__main-card">
                                                        <img src="img/gallery.jpg" alt=""
                                                            class="gallery-slider__main-card-image">
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="gallery-slider__main-card">
                                                        <img src="img/gallery.jpg" alt=""
                                                            class="gallery-slider__main-card-image">
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="gallery-slider__main-card">
                                                        <img src="img/gallery.jpg" alt=""
                                                            class="gallery-slider__main-card-image">
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="gallery-slider__main-card">
                                                        <img src="img/gallery.jpg" alt=""
                                                            class="gallery-slider__main-card-image">
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="gallery-slider__main-card">
                                                        <img src="img/gallery.jpg" alt=""
                                                            class="gallery-slider__main-card-image">
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="gallery-slider__main-card">
                                                        <img src="img/gallery.jpg" alt=""
                                                            class="gallery-slider__main-card-image">
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="gallery-slider__main-card">
                                                        <img src="img/gallery.jpg" alt=""
                                                            class="gallery-slider__main-card-image">
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="gallery-slider__main-card">
                                                        <img src="img/gallery.jpg" alt=""
                                                            class="gallery-slider__main-card-image">
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="gallery-slider__panel">
                                            <div class="gallery-slider__panel-tabs">
                                                <div class="gallery-slider__panel-tab">
                                                    Пояснения к изображениям центра 1
                                                </div>
                                                <div class="gallery-slider__panel-tab">
                                                    Пояснения к изображениям центра 2
                                                </div>
                                                <div class="gallery-slider__panel-tab">
                                                    Пояснения к изображениям центра 3
                                                </div>
                                                <div class="gallery-slider__panel-tab">
                                                    Пояснения к изображениям центра 4
                                                </div>
                                                <div class="gallery-slider__panel-tab">
                                                    Пояснения к изображениям центра 5
                                                </div>
                                                <div class="gallery-slider__panel-tab">
                                                    Пояснения к изображениям центра 6
                                                </div>
                                                <div class="gallery-slider__panel-tab">
                                                    Пояснения к изображениям центра 7
                                                </div>
                                                <div class="gallery-slider__panel-tab">
                                                    Пояснения к изображениям центра 8
                                                </div>
                                                <div class="gallery-slider__panel-tab">
                                                    Пояснения к изображениям центра 9
                                                </div>
                                                <div class="gallery-slider__panel-tab">
                                                    Пояснения к изображениям центра 10
                                                </div>
                                            </div>
                                            <div class="gallery-slider__arrows">
                                                <button class="gallery-slider__arrow gallery-slider__arrow--prev">
                                                    <svg width="14" height="14" aria-hidden="true"
                                                        class="icon-arrow-left">
                                                        <use xlink:href="#arrow-left"></use>
                                                    </svg>
                                                </button>
                                                <button class="gallery-slider__arrow gallery-slider__arrow--next">
                                                    <svg width="14" height="14" aria-hidden="true"
                                                        class="icon-arrow-right">
                                                        <use xlink:href="#arrow-right"></use>
                                                    </svg>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gallery-slider__thumbs">
                                    <div class="swiper">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="gallery-slider__thumbs-card">
                                                    <div class="gallery-slider__thumbs-card-image-wrapper">
                                                        <img src="img/gallery.jpg" alt=""
                                                            class="gallery-slider__thumbs-card-image">
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="gallery-slider__thumbs-card">
                                                    <div class="gallery-slider__thumbs-card-image-wrapper">
                                                        <img src="img/gallery.jpg" alt=""
                                                            class="gallery-slider__thumbs-card-image">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="gallery-slider__thumbs-card">
                                                    <div class="gallery-slider__thumbs-card-image-wrapper">
                                                        <img src="img/gallery.jpg" alt=""
                                                            class="gallery-slider__thumbs-card-image">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="gallery-slider__thumbs-card">
                                                    <div class="gallery-slider__thumbs-card-image-wrapper">
                                                        <img src="img/gallery.jpg" alt=""
                                                            class="gallery-slider__thumbs-card-image">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="gallery-slider__thumbs-card">
                                                    <div class="gallery-slider__thumbs-card-image-wrapper">
                                                        <img src="img/gallery.jpg" alt=""
                                                            class="gallery-slider__thumbs-card-image">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="gallery-slider__thumbs-card">
                                                    <div class="gallery-slider__thumbs-card-image-wrapper">
                                                        <img src="img/gallery.jpg" alt=""
                                                            class="gallery-slider__thumbs-card-image">
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="gallery-slider__thumbs-card">
                                                    <div class="gallery-slider__thumbs-card-image-wrapper">
                                                        <img src="img/gallery.jpg" alt=""
                                                            class="gallery-slider__thumbs-card-image">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="gallery-slider__thumbs-card">
                                                    <div class="gallery-slider__thumbs-card-image-wrapper">
                                                        <img src="img/gallery.jpg" alt=""
                                                            class="gallery-slider__thumbs-card-image">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="gallery-slider__thumbs-card">
                                                    <div class="gallery-slider__thumbs-card-image-wrapper">
                                                        <img src="img/gallery.jpg" alt=""
                                                            class="gallery-slider__thumbs-card-image">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="gallery-slider__thumbs-card">
                                                    <div class="gallery-slider__thumbs-card-image-wrapper">
                                                        <img src="img/gallery.jpg" alt=""
                                                            class="gallery-slider__thumbs-card-image">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="service-page__program">
                        <div class="service-page__program-left-col">
                            <h2 class="service-page__program-heading">
                                О программе
                            </h2>
                        </div>
                        <div class="service-page__program-right-col">
                            <div class="service-page__program-text-content">
                                <p>
                                    Это текст рыба. В этом блоке можно отразить итоги проекта или его процесс, или любой
                                    другой текст относящийся к нему. Таким образом рамки и место обучения кадров
                                    позволяет выполнять важные задания по разработке системы обучения кадров,
                                    соответствует насущным потребностям.
                                </p>
                                <p>
                                    С другой стороны реализация намеченных плановых заданий играет важную роль в
                                    формировании направлений прогрессивного развития. Повседневная практика показывает,
                                    что постоянный количественный рост и сфера нашей активности влечет за собой процесс
                                    внедрения и модернизации системы обучения кадров, соответствует насущным
                                    потребностям.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="service-page__disciplines">
                        <div class="service-page__disciplines-left-col">
                            <h2 class="service-page__disciplines-heading">
                                Дисциплины
                            </h2>
                        </div>
                        <div class="service-page__disciplines-right-col">
                            <div class="service-page__disciplines-text-content">
                                <ul>
                                    <li>
                                        Менеджмент и маркетинг
                                    </li>
                                    <li>
                                        Авторское право
                                    </li>
                                    <li>
                                        Бизнес планирование
                                    </li>
                                    <li>
                                        Креативные идустрии и актуальные стилевые тенденции в современном искусстве и
                                        дизайне
                                    </li>
                                    <li>
                                        Цифровое проектирвоание костюма и акссесуаров
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="service-page__course">
                        <div class="service-page__course-left-col">
                            <h2 class="service-page__course-heading">
                                Этот курс подойдет
                            </h2>
                        </div>
                        <div class="service-page__course-right-col">
                            <ul class="service-page__course-list">
                                <li class="service-page__course-list-item">
                                    <div class="service-page__course-card">
                                        <div class="service-page__course-card-content">
                                            <h4 class="service-page__course-card-title">
                                                Тем, кто интересуется исскуством
                                            </h4>
                                        </div>
                                    </div>
                                </li>
                                <li class="service-page__course-list-item">
                                    <div class="service-page__course-card">
                                        <div class="service-page__course-card-content">
                                            <h4 class="service-page__course-card-title">
                                                Тем, кто хочет разбираться в современных тенденциях
                                            </h4>
                                        </div>
                                    </div>
                                </li>
                                <li class="service-page__course-list-item">
                                    <div class="service-page__course-card">
                                        <div class="service-page__course-card-content">
                                            <h4 class="service-page__course-card-title">
                                                Тем, кто интересуется исскуством
                                            </h4>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="service-page__learn">
                        <div class="service-page__learn-left-col">
                            <h2 class="service-page__learn-heading">
                                Вы научитесь
                            </h2>
                        </div>
                        <div class="service-page__learn-right-col">
                            <ul class="service-page__learn-list">
                                <li class="service-page__learn-list-item">
                                    <div class="service-page__learn-card">
                                        <div class="service-page__learn-card-content">
                                            <h4 class="service-page__learn-card-title">
                                                Этому навыку
                                            </h4>
                                            <div class="service-page__learn-card-text">
                                                Описание навыка, которому научиться студент, или его прикладное
                                                назначение
                                                примерно на две строчки
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="service-page__learn-list-item">
                                    <div class="service-page__learn-card">
                                        <div class="service-page__learn-card-content">
                                            <h4 class="service-page__learn-card-title">
                                                Этому навыку
                                            </h4>
                                            <div class="service-page__learn-card-text">
                                                Описание навыка, которому научиться студент, или его прикладное
                                                назначение
                                                примерно на две строчки
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="service-page__learn-list-item">
                                    <div class="service-page__learn-card">
                                        <div class="service-page__learn-card-content">
                                            <h4 class="service-page__learn-card-title">
                                                Этому навыку
                                            </h4>
                                            <div class="service-page__learn-card-text">
                                                Описание навыка, которому научиться студент, или его прикладное
                                                назначение
                                                примерно на две строчки
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="service-page__bottom">

                    </div>
                </div>
            </div>
        </section>
        <section class="contacts">
            <div class="container">
                <div class="contacts__content">
                    <div class="contacts__row contacts__row--diploma">
                        <div class="contacts__col">
                            <div class="contacts__diploma">
                                <div class="contacts__diploma-text-content">


                                    <h2 class="contacts__diploma-heading">
                                        Диплом
                                    </h2>
                                    <div class="contacts__diploma-text">
                                        <p>
                                            По окончанию курса слушатели получают сертификат установленного образца,
                                            дющий
                                            право работать в данной области
                                        </p>
                                    </div>
                                </div>
                                <img src="img/diploma-decor.svg" alt="" class="contacts__diploma-decor">
                            </div>
                        </div>
                        <div class="contacts__col">
                            <div class="contacts__form-wrapper">


                                <h3 class="contacts__form-heading">
                                    Оставьте заявку
                                </h3>
                                <form action="/" method="POST" class="contacts__form contacts__form--fixed-width"
                                    data-need-validation="">
                                    <div class="contacts__form-fields">
                                        <div class="contacts__form-field">
                                            <label class="contacts__form-input-label">
                                                <input type="text" class="contacts__form-input" name="name" required=""
                                                    placeholder="Имя">
                                                <span class="contacts__form-input-placeholder">
                                                    Имя
                                                </span>
                                            </label>
                                        </div>
                                        <div class="contacts__form-field">
                                            <label class="contacts__form-input-label">
                                                <input type="email" class="contacts__form-input" name="email"
                                                    required="" placeholder="Email">
                                                <span class="contacts__form-input-placeholder">
                                                    Email
                                                </span>
                                            </label>
                                        </div>
                                        <div class="contacts__form-field">
                                            <label class="contacts__form-input-label">
                                                <input type="tel" class="contacts__form-input js-phone-input"
                                                    name="phone" data-parsley-phone="" placeholder="Телефон">
                                                <span class="contacts__form-input-placeholder">
                                                    Телефон
                                                </span>
                                            </label>
                                        </div>
                                        <div class="contacts__form-field">
                                            <label class="contacts__form-input-label">
                                                <textarea name="comment" class="contacts__form-input"
                                                    placeholder="Задайте свой вопрос"></textarea>
                                                <span class="contacts__form-input-placeholder">
                                                    Задайте свой вопрос
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                    <button class="contacts__form-submit" type="submit">
                                        отправить
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="contacts__diploma-bottom">

                    </div>

                </div>
            </div>
        </section>

    {{/content}}
{{/extend}}