{{#extend "layout"}}
    {{#content "main"}}

        <section class="services-page">
            <div class="container">
                <div class="breadcrumbs services-page__breadcrumbs">
                    <a href="#">Главная </a> / <a href="#">Услуги</a> / <a href="#" class="active">Образование</a>
                </div>
                <div class="services-page__top-row">
                    <h1 class="services-page__heading">
                        Услуги
                    </h1>
                    <picture>
                        <source srcset="img/services-decor-mobile.svg" media="(max-width: 640px)" />
                        <img src="img/project-decor.svg" alt="" class="services-page__decor" />
                    </picture>
                </div>
                <div class="services-page__content">
                    <div class="services-page__row">
                        <div class="services-page__left-col">
                            <nav class="services-page__nav">


                                <ul class="services-page__nav-list">
                                    <li class="services-page__nav-list-item">
                                        <a href="#" class="services-page__nav-link">
                                            Все
                                        </a>
                                    </li>
                                    <li class="services-page__nav-list-item services-page__nav-list-item--active">
                                        <a href="#" class="services-page__nav-link">
                                            Образование
                                        </a>
                                        <ul class="services-page__nav-submenu-list">
                                            <li
                                                class="services-page__nav-submenu-list-item services-page__nav-submenu-list-item--active">
                                                <a href="#" class="services-page__nav-submenu-link">
                                                    Все
                                                </a>
                                            </li>
                                            <li class="services-page__nav-submenu-list-item">
                                                <a href="#" class="services-page__nav-submenu-link">
                                                    Повышение квалификации
                                                </a>
                                            </li>
                                            <li class="services-page__nav-submenu-list-item">
                                                <a href="#" class="services-page__nav-submenu-link">
                                                    Переподготовка
                                                </a>
                                            </li>
                                            <li class="services-page__nav-submenu-list-item">
                                                <a href="#" class="services-page__nav-submenu-link">
                                                    Стажировки
                                                </a>
                                            </li>
                                            <li class="services-page__nav-submenu-list-item">
                                                <a href="#" class="services-page__nav-submenu-link">
                                                    Курсы
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="services-page__nav-list-item">
                                        <a href="#" class="services-page__nav-link">
                                            Исследования
                                        </a>
                                    </li>
                                    <li class="services-page__nav-list-item">
                                        <a href="#" class="services-page__nav-link">
                                            Инжиниринг
                                        </a>
                                    </li>
                                    <li class="services-page__nav-list-item">
                                        <a href="#" class="services-page__nav-link">
                                            Промышленный дизайн
                                        </a>
                                    </li>
                                    <li class="services-page__nav-list-item">
                                        <a href="#" class="services-page__nav-link">
                                            Подготовка студентов
                                        </a>
                                    </li>
                                </ul>

                            </nav>
                            <nav class="services-page__mobile-nav js-services-mobile-nav">
                                <div class="services-page__mobile-nav-controls">
                                    <button class="services-page__mobile-nav-btn">
                                        Образование
                                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                                            <use xlink:href="#arrow-down"></use>
                                        </svg>
                                    </button>
                                    <div class="services-page__mobile-nav-dropdown">
                                        <div class="services-page__mobile-nav-dropdown-inner">
                                            <ul class="services-page__mobile-nav-list">
                                                <li class="services-page__mobile-nav-list-item">
                                                    <a href="#" class="services-page__mobile-nav-link">
                                                        Все услуги
                                                    </a>
                                                </li>
                                                <li class="services-page__mobile-nav-list-item">
                                                    <a href="#" class="services-page__mobile-nav-link">
                                                        Исследования
                                                    </a>
                                                </li>
                                                <li class="services-page__mobile-nav-list-item">
                                                    <a href="#" class="services-page__mobile-nav-link">
                                                        Инжиниринг
                                                    </a>
                                                </li>
                                                <li class="services-page__mobile-nav-list-item">
                                                    <a href="#" class="services-page__mobile-nav-link">
                                                        Промышленный дизайн
                                                    </a>
                                                </li>
                                                <li class="services-page__mobile-nav-list-item">
                                                    <a href="#" class="services-page__mobile-nav-link">
                                                        Подготовка студентов
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="services-page__mobile-nav-current">
                                    <ul class="services-page__mobile-nav-current-submenu-list">
                                        <li
                                            class="services-page__mobile-nav-current-submenu-list-item services-page__mobile-nav-current-submenu-list-item--active">
                                            <a href="#" class="services-page__mobile-nav-current-submenu-link">
                                                Все
                                            </a>
                                        </li>
                                        <li class="services-page__mobile-nav-current-submenu-list-item">
                                            <a href="#" class="services-page__mobile-nav-current-submenu-link">
                                                Повышение квалификации
                                            </a>
                                        </li>
                                        <li class="services-page__mobile-nav-current-submenu-list-item">
                                            <a href="#" class="services-page__mobile-nav-current-submenu-link">
                                                Переподготовка
                                            </a>
                                        </li>
                                        <li class="services-page__mobile-nav-current-submenu-list-item">
                                            <a href="#" class="services-page__mobile-nav-current-submenu-link">
                                                Стажировки
                                            </a>
                                        </li>
                                        <li class="services-page__mobile-nav-current-submenu-list-item">
                                            <a href="#" class="services-page__mobile-nav-current-submenu-link">
                                                Курсы
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                            </nav>
                        </div>
                        <div class="services-page__right-col">
                            <ul class="services-page__list">
                                <li class="services-page__list-item">
                                    <div class="services-page__card">
                                        <div class="services-page__card-image-container">
                                            <img src="img/services/1.jpg" alt="" class="services-page__card-image">
                                        </div>
                                        <div class="services-page__card-tag">
                                            /переподготовка
                                        </div>
                                        <h3 class="services-page__card-title">
                                            «Арт-бизнес»
                                        </h3>
                                        <div class="services-page__card-desc">
                                            250 часов (2,5 месяца) заочно
                                        </div>
                                        <div class="services-page__card-price">
                                            10 000 ₽
                                        </div>
                                        <a href="#" class="services-page__card-link">
                                            Подробнее
                                        </a>
                                    </div>
                                </li>
                                <li class="services-page__list-item">
                                    <div class="services-page__card">
                                        <div class="services-page__card-image-container">
                                            <img src="img/services/2.jpg" alt="" class="services-page__card-image">
                                        </div>
                                        <div class="services-page__card-tag">
                                            /переподготовка
                                        </div>
                                        <h3 class="services-page__card-title">
                                            «Арт-бизнес»
                                        </h3>
                                        <div class="services-page__card-desc">
                                            250 часов (2,5 месяца) заочно
                                        </div>
                                        <div class="services-page__card-price">
                                            10 000 ₽
                                        </div>
                                        <a href="#" class="services-page__card-link">
                                            Подробнее
                                        </a>
                                    </div>
                                </li>
                                <li class="services-page__list-item">
                                    <div class="services-page__card">
                                        <div class="services-page__card-image-container">
                                            <img src="img/services/1.jpg" alt="" class="services-page__card-image">
                                        </div>
                                        <div class="services-page__card-tag">
                                            /переподготовка
                                        </div>
                                        <h3 class="services-page__card-title">
                                            «Арт-бизнес»
                                        </h3>
                                        <div class="services-page__card-desc">
                                            250 часов (2,5 месяца) заочно
                                        </div>
                                        <div class="services-page__card-price">
                                            10 000 ₽
                                        </div>
                                        <a href="#" class="services-page__card-link">
                                            Подробнее
                                        </a>
                                    </div>
                                </li>
                                <li class="services-page__list-item">
                                    <div class="services-page__card">
                                        <div class="services-page__card-image-container">
                                            <img src="img/services/2.jpg" alt="" class="services-page__card-image">
                                        </div>
                                        <div class="services-page__card-tag">
                                            /переподготовка
                                        </div>
                                        <h3 class="services-page__card-title">
                                            «Арт-бизнес»
                                        </h3>
                                        <div class="services-page__card-desc">
                                            250 часов (2,5 месяца) заочно
                                        </div>
                                        <div class="services-page__card-price">
                                            10 000 ₽
                                        </div>
                                        <a href="#" class="services-page__card-link">
                                            Подробнее
                                        </a>
                                    </div>
                                </li>
                                <li class="services-page__list-item">
                                    <div class="services-page__card">
                                        <div class="services-page__card-image-container">
                                            <img src="img/services/1.jpg" alt="" class="services-page__card-image">
                                        </div>
                                        <div class="services-page__card-tag">
                                            /переподготовка
                                        </div>
                                        <h3 class="services-page__card-title">
                                            «Арт-бизнес»
                                        </h3>
                                        <div class="services-page__card-desc">
                                            250 часов (2,5 месяца) заочно
                                        </div>
                                        <div class="services-page__card-price">
                                            10 000 ₽
                                        </div>
                                        <a href="#" class="services-page__card-link">
                                            Подробнее
                                        </a>
                                    </div>
                                </li>
                                <li class="services-page__list-item">
                                    <div class="services-page__card">
                                        <div class="services-page__card-image-container">
                                            <img src="img/services/2.jpg" alt="" class="services-page__card-image">
                                        </div>
                                        <div class="services-page__card-tag">
                                            /переподготовка
                                        </div>
                                        <h3 class="services-page__card-title">
                                            «Арт-бизнес»
                                        </h3>
                                        <div class="services-page__card-desc">
                                            250 часов (2,5 месяца) заочно
                                        </div>
                                        <div class="services-page__card-price">
                                            10 000 ₽
                                        </div>
                                        <a href="#" class="services-page__card-link">
                                            Подробнее
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="services-page__bottom">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </section>
        <section class="contacts">
            <div class="container">
                <div class="contacts__content">
                    <div class="contacts__row">
                        <div class="contacts__col">
                            <div class="contacts__text-content">


                                <div class="contacts__title">
                                    ИЦ
                                </div>
                                <h2 class="contacts__heading">
                                    Контакты
                                </h2>
                                <div class="contacts__address">
                                    Казань, ул. Спартаковская, д. 2<br>
                                    <a href="#">на карте</a>
                                </div>
                                <a href="tel:+79274231774" class="contacts__link">+7 (927) 423-17-74</a>
                                <a href="mailto:email@email.com" class="contacts__link">email@email.com</a>
                                <ul class="contacts__social-list">
                                    <li class="contacts__social-list-item">
                                        <a href="#" class="contacts__social-link">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-telegram">
                                                <use xlink:href="#telegram"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="contacts__social-list-item">
                                        <a href="#" class="contacts__social-link">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-vk">
                                                <use xlink:href="#vk"></use>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <img src="img/contacts-shape.svg" alt="" class="contacts__shape">
                        </div>
                        <div class="contacts__col">
                            <div class="contacts__form-wrapper">


                                <h3 class="contacts__form-heading">
                                    Форма обратной связи
                                </h3>
                                <form action="/" method="POST" class="contacts__form" data-need-validation="">
                                    <div class="contacts__form-fields">
                                        <div class="contacts__form-field">
                                            <label class="contacts__form-input-label">
                                                <input type="text" class="contacts__form-input" name="name" required=""
                                                    placeholder="Имя">
                                                <span class="contacts__form-input-placeholder">
                                                    Имя
                                                </span>
                                            </label>
                                        </div>
                                        <div class="contacts__form-field">
                                            <label class="contacts__form-input-label">
                                                <input type="email" class="contacts__form-input" name="email"
                                                    required="" placeholder="Email">
                                                <span class="contacts__form-input-placeholder">
                                                    Email
                                                </span>
                                            </label>
                                        </div>
                                        <div class="contacts__form-field">
                                            <label class="contacts__form-input-label">
                                                <input type="tel" class="contacts__form-input js-phone-input"
                                                    name="phone" data-parsley-phone="" placeholder="Телефон">
                                                <span class="contacts__form-input-placeholder">
                                                    Телефон
                                                </span>
                                            </label>
                                        </div>
                                        <div class="contacts__form-field">
                                            <label class="contacts__form-input-label">
                                                <textarea name="comment" class="contacts__form-input"
                                                    placeholder="Задайте свой вопрос"></textarea>
                                                <span class="contacts__form-input-placeholder">
                                                    Задайте свой вопрос
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                    <button class="contacts__form-submit" type="submit">
                                        отправить
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="contacts__bottom">
                        <span>
                            <img src="img/contacts-bottom-corner.svg" alt="" class="contacts__bottom-corner">
                        </span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </section>

    {{/content}}
{{/extend}}