{{#extend "layout"}}
    {{#content "main"}}

        <section class="service-page">
            <div class="container">
                <div class="breadcrumbs service-page__breadcrumbs">

                    <a href="#">Услуги</a> / <a href="#">Исследование</a> / <a href="#" class="active">Изготовление
                        прототипа</a>
                </div>
                <div class="service-page__top-row">
                    <h1 class="service-page__heading">
                        Изготовление прототипа
                    </h1>
                    <picture>
                        <source srcset="img/proto-decor-mobile.svg" media="(max-width: 640px)" />
                        <img src="img/project-decor.svg" alt=""
                            class="service-page__decor service-page__decor--proto" />
                    </picture>
                </div>
                <div class="service-page__content">
                    <div class="service-page__row">
                        <div class="service-page__left-col service-page__left-col--mobile-last">
                            <div class="service-page__proto">
                                <div class="service-page__proto-text-content">
                                    <p>
                                        Описание услуги, этапы или результаты, например:
                                    </p>
                                    <p>
                                        Предоставляем услуги по графическому дизайну.
                                    </p>
                                    <p>
                                        Этапы работы:
                                    </p>
                                    <ul>
                                        <li>
                                            Проработка ТЗ
                                        </li>
                                        <li>
                                            Создание черновых эскизов
                                        </li>
                                        <li>
                                            Создание 2D и 3D модели
                                        </li>
                                        <li>
                                            Проработка деталей
                                        </li>
                                    </ul>
                                </div>
                                <div class="service-page__proto-callback">
                                    <h3 class="service-page__proto-callback-heading">
                                        Научно-экспериментальная лаборатория
                                    </h3>
                                    <div class="service-page__proto-callback-selector js-proto-selector">
                                        <button class="service-page__proto-callback-selector-btn">
                                            <span class="service-page__proto-callback-selector-btn-text">

                                            </span>
                                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                                                <use xlink:href="#arrow-down"></use>
                                            </svg>
                                        </button>
                                        <div class="service-page__proto-callback-selector-dropdown">
                                            <div class="service-page__proto-callback-selector-dropdown-inner">
                                                <ul class="service-page__proto-callback-selector-list">
                                                    <li class="service-page__proto-callback-selector-list-item">
                                                        <a href="#" class="service-page__proto-callback-selector-link">
                                                            Художественная керамика
                                                        </a>
                                                    </li>
                                                    <li class="service-page__proto-callback-selector-list-item">
                                                        <a href="#" class="service-page__proto-callback-selector-link">
                                                            Художественная обработка древесины
                                                        </a>
                                                    </li>
                                                    <li class="service-page__proto-callback-selector-list-item">
                                                        <a href="#" class="service-page__proto-callback-selector-link">
                                                            Дизайн костюма
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#" class="service-page__proto-callback-link">
                                        Оставить заявку
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="service-page__right-col">
                            <div class="gallery-slider js-gallery-slider js-gallery-slider-4-thumbs">
                                <div class="gallery-slider__main">
                                    <div class="gallery-slider__main-inner">
                                        <div class="swiper">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <div class="gallery-slider__main-card">
                                                        <img src="img/gallery.jpg" alt=""
                                                            class="gallery-slider__main-card-image">
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="gallery-slider__main-card">
                                                        <img src="img/gallery.jpg" alt=""
                                                            class="gallery-slider__main-card-image">
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="gallery-slider__main-card">
                                                        <img src="img/gallery.jpg" alt=""
                                                            class="gallery-slider__main-card-image">
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="gallery-slider__main-card">
                                                        <img src="img/gallery.jpg" alt=""
                                                            class="gallery-slider__main-card-image">
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="gallery-slider__main-card">
                                                        <img src="img/gallery.jpg" alt=""
                                                            class="gallery-slider__main-card-image">
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="gallery-slider__main-card">
                                                        <img src="img/gallery.jpg" alt=""
                                                            class="gallery-slider__main-card-image">
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="gallery-slider__main-card">
                                                        <img src="img/gallery.jpg" alt=""
                                                            class="gallery-slider__main-card-image">
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="gallery-slider__main-card">
                                                        <img src="img/gallery.jpg" alt=""
                                                            class="gallery-slider__main-card-image">
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="gallery-slider__main-card">
                                                        <img src="img/gallery.jpg" alt=""
                                                            class="gallery-slider__main-card-image">
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="gallery-slider__main-card">
                                                        <img src="img/gallery.jpg" alt=""
                                                            class="gallery-slider__main-card-image">
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="gallery-slider__panel">
                                            <div class="gallery-slider__panel-tabs">
                                                <div class="gallery-slider__panel-tab">
                                                    Пояснения к изображениям центра 1
                                                </div>
                                                <div class="gallery-slider__panel-tab">
                                                    Пояснения к изображениям центра 2
                                                </div>
                                                <div class="gallery-slider__panel-tab">
                                                    Пояснения к изображениям центра 3
                                                </div>
                                                <div class="gallery-slider__panel-tab">
                                                    Пояснения к изображениям центра 4
                                                </div>
                                                <div class="gallery-slider__panel-tab">
                                                    Пояснения к изображениям центра 5
                                                </div>
                                                <div class="gallery-slider__panel-tab">
                                                    Пояснения к изображениям центра 6
                                                </div>
                                                <div class="gallery-slider__panel-tab">
                                                    Пояснения к изображениям центра 7
                                                </div>
                                                <div class="gallery-slider__panel-tab">
                                                    Пояснения к изображениям центра 8
                                                </div>
                                                <div class="gallery-slider__panel-tab">
                                                    Пояснения к изображениям центра 9
                                                </div>
                                                <div class="gallery-slider__panel-tab">
                                                    Пояснения к изображениям центра 10
                                                </div>
                                            </div>
                                            <div class="gallery-slider__arrows">
                                                <button class="gallery-slider__arrow gallery-slider__arrow--prev">
                                                    <svg width="14" height="14" aria-hidden="true"
                                                        class="icon-arrow-left">
                                                        <use xlink:href="#arrow-left"></use>
                                                    </svg>
                                                </button>
                                                <button class="gallery-slider__arrow gallery-slider__arrow--next">
                                                    <svg width="14" height="14" aria-hidden="true"
                                                        class="icon-arrow-right">
                                                        <use xlink:href="#arrow-right"></use>
                                                    </svg>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gallery-slider__thumbs">
                                    <div class="swiper">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="gallery-slider__thumbs-card">
                                                    <div class="gallery-slider__thumbs-card-image-wrapper">
                                                        <img src="img/gallery.jpg" alt=""
                                                            class="gallery-slider__thumbs-card-image">
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="gallery-slider__thumbs-card">
                                                    <div class="gallery-slider__thumbs-card-image-wrapper">
                                                        <img src="img/gallery.jpg" alt=""
                                                            class="gallery-slider__thumbs-card-image">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="gallery-slider__thumbs-card">
                                                    <div class="gallery-slider__thumbs-card-image-wrapper">
                                                        <img src="img/gallery.jpg" alt=""
                                                            class="gallery-slider__thumbs-card-image">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="gallery-slider__thumbs-card">
                                                    <div class="gallery-slider__thumbs-card-image-wrapper">
                                                        <img src="img/gallery.jpg" alt=""
                                                            class="gallery-slider__thumbs-card-image">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="gallery-slider__thumbs-card">
                                                    <div class="gallery-slider__thumbs-card-image-wrapper">
                                                        <img src="img/gallery.jpg" alt=""
                                                            class="gallery-slider__thumbs-card-image">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="gallery-slider__thumbs-card">
                                                    <div class="gallery-slider__thumbs-card-image-wrapper">
                                                        <img src="img/gallery.jpg" alt=""
                                                            class="gallery-slider__thumbs-card-image">
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="gallery-slider__thumbs-card">
                                                    <div class="gallery-slider__thumbs-card-image-wrapper">
                                                        <img src="img/gallery.jpg" alt=""
                                                            class="gallery-slider__thumbs-card-image">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="gallery-slider__thumbs-card">
                                                    <div class="gallery-slider__thumbs-card-image-wrapper">
                                                        <img src="img/gallery.jpg" alt=""
                                                            class="gallery-slider__thumbs-card-image">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="gallery-slider__thumbs-card">
                                                    <div class="gallery-slider__thumbs-card-image-wrapper">
                                                        <img src="img/gallery.jpg" alt=""
                                                            class="gallery-slider__thumbs-card-image">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="gallery-slider__thumbs-card">
                                                    <div class="gallery-slider__thumbs-card-image-wrapper">
                                                        <img src="img/gallery.jpg" alt=""
                                                            class="gallery-slider__thumbs-card-image">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="service-page__bottom">

                    </div>
                </div>
            </div>
        </section>


    {{/content}}
{{/extend}}