.labs__heading {
    @include sectionHeading;
}

.labs__content {
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
}

.labs__top {
    @include breakpointMF(small-tablet) {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));

        & > span {
            height: 10rem;
            &:not(:first-child) {
                border-left: 1px solid #eeeeee;
            }
        }
    }

    @include breakpoint(mobile) {
        display: block;
        height: 4rem;
    }
}

.labs__list {
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;

    &--three-compact {
        @include breakpointMF(small-tablet) {
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));

            .labs__card-link {
                display: none;
            }

            .labs__card {
                min-height: 50rem;
                padding: 3rem;
                padding-top: 4rem;
                padding-bottom: 4rem;
                border: none;
                overflow: hidden;
                @media (hover: hover) {
                    &:hover {
                        .labs__card-title-large-text {
                            color: white;
                        }
                        &::before,
                        &::after {
                            opacity: 1;
                        }
                    }
                }
            }

            .labs__card-title {
                font-style: normal;
                font-weight: 400;
                font-size: 2.4rem;
                line-height: 135%;
                margin: 0;
                margin-bottom: auto;
                text-align: left !important;
            }

            .labs__card-title-large-text {
                font-style: normal;
                font-weight: 700;
                font-size: 2.7rem;
                transition: color 0.2s !important;
                line-height: 135%;
                color: #5fb470;
            }

            .labs__card--dark-green .labs__card-title-large-text {
                color: #007c62;
            }
            .labs__card--orange .labs__card-title-large-text {
                color: #f8ae01;
            }

            .labs__list-item {
                &:not(:nth-child(3n + 1)) {
                    border-left: 1px solid #eeeeee;
                }
            }

            .labs__card-image {
                left: 0 !important;
                width: 100% !important;
                transform: none !important;
                height: auto !important;
                bottom: 0 !important;
            }
        }
    }
}

.labs__list-item {
}

.labs__card {
    padding: 3.5rem 4.5rem;
    display: flex;
    flex-direction: column;
    min-height: 40rem;
    position: relative;
    z-index: 1;
    padding-top: 2rem;
    padding-right: 2.7rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;

    @include breakpointMF(small-tablet) {
        overflow: hidden;
        border-top: 1px solid #eeeeee;

        &::before {
            content: '';
            position: absolute;
            width: 57rem;
            height: 34.2rem;
            background-image: url('../img/labs-decor.svg');
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: right bottom;
            bottom: 0;
            pointer-events: none;
            z-index: -1;
            transition: opacity 0.2s;
        }
        &::after {
            content: '';
            position: absolute;
            width: 57rem;
            height: 34.2rem;
            background-image: url('../img/labs-decor-4.svg');
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: right bottom;
            bottom: 0;
            pointer-events: none;
            z-index: -1;
            transition: opacity 0.2s;
            opacity: 0;
        }

        .labs__list-item:first-child & {
            border: none;
        }
        .labs__list-item:nth-child(odd) & {
            &::before {
                right: 0;
            }

            &::after {
                right: 0;
            }
        }
        .labs__list-item:nth-child(even) & {
            &::before {
                left: 0;
                background-image: url('../img/labs-decor-inverted.svg');
            }

            &::after {
                left: 0;
            }
        }
        @media (hover: hover) {
            &:hover {
                background: #5fb470;
                color: white;
                border-color: #5fb470;
                &::after {
                    opacity: 1;
                }
            }
        }

        .labs__list--three-compact & {
            &::before {
                content: '';
                position: absolute;
                right: 0 !important;
                left: auto !important;
                width: 75%;
                bottom: 0;
                z-index: -1;
                background-repeat: no-repeat;
                background-position: right bottom;
                background-size: 100% auto;
                height: 100%;
                background-image: url('../img/labs-decor-mobile-3.svg') !important;
                opacity: 0;
                transition: opacity 0.2s;
            }

            &::after {
                content: '';
                position: absolute;
                left: -1px !important;
                right: auto !important;
                bottom: 0;
                width: 25%;
                background-repeat: no-repeat;
                background-position: right bottom;
                background-size: 100% auto;
                height: 100%;
                z-index: 3;
                left: -1px;
                background-image: url('../img/labs-decor-mobile-1-corner.svg') !important;
                opacity: 0;
                transition: opacity 0.2s;
            }

            &--dark-green {
                &::before {
                    background-image: url('../img/labs-decor-mobile-1.svg') !important;
                }

                &::after {
                    background-image: url('../img/labs-decor-mobile-1-corner.svg') !important;
                }
            }

            &--orange {
                &::before {
                    background-image: url('../img/labs-decor-mobile-2.svg') !important;
                }

                &::after {
                    background-image: url('../img/labs-decor-mobile-2-corner.svg') !important;
                }
            }
        }
    }

    @include breakpoint(mobile) {
        min-height: 40rem;
        padding: 3.2rem 2.4rem;
        background: #5fb470;
        color: white;

        &:link,
        &:visited {
            color: white;
        }

        &::before {
            content: '';
            position: absolute;
            right: 0;
            width: 75%;
            bottom: 0;
            z-index: -1;
            background-repeat: no-repeat;
            background-position: right bottom;
            background-size: 100% auto;
            height: 100%;
            background-image: url('../img/labs-decor-mobile-3.svg');
        }

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 25%;
            background-repeat: no-repeat;
            background-position: right bottom;
            background-size: 100% auto;
            height: 100%;
            z-index: 3;
            left: -1px;
            background-image: url('../img/labs-decor-mobile-1-corner.svg');
        }
    }

    &--dark-green {
        @include breakpointMF(small-tablet) {
            &::after {
                background-image: url('../img/labs-decor-2.svg');
            }
            @media (hover: hover) {
                &:hover {
                    background: #007c62;
                    color: white;
                    border-color: #007c62;
                }
            }
        }

        @include breakpoint(mobile) {
            background: #007c62;
            color: white;

            &:link,
            &:visited {
                color: white;
            }
            &::before {
                background-image: url('../img/labs-decor-mobile-1.svg');
            }

            &::after {
                background-image: url('../img/labs-decor-mobile-1-corner.svg');
            }
        }
    }

    &--orange {
        @include breakpointMF(small-tablet) {
            &::after {
                background-image: url('../img/labs-decor-3.svg');
            }
            @media (hover: hover) {
                &:hover {
                    background: #f8ae01;
                    color: white;
                    border-color: #f8ae01;
                }
            }
        }
        @include breakpoint(mobile) {
            background: #f8ae01;
            color: white;

            &:link,
            &:visited {
                color: white;
            }

            &::before {
                background-image: url('../img/labs-decor-mobile-2.svg');
            }

            &::after {
                background-image: url('../img/labs-decor-mobile-2-corner.svg');
            }
        }
    }
}

.labs__card-image {
    height: 100%;
    width: auto;
    position: absolute;
    bottom: 0;
    object-fit: contain;
    object-position: center bottom;
    z-index: -1;

    @include breakpoint(mobile) {
        left: 0;
        bottom: 0;
        width: 100%;
        height: auto;
        max-height: 100%;
        object-position: center bottom;
        object-fit: contain;
    }
    @include breakpointMF(small-tablet) {
        .labs__list-item:nth-child(odd) & {
            right: 35%;
            transform: translateX(50%);
        }
        .labs__list-item:nth-child(even) & {
            left: 35%;
            transform: translateX(-50%);
        }
    }
}

.labs__card-title {
    font-style: normal;
    font-weight: 400;
    font-size: 2.8rem;
    line-height: 135%;
    margin-top: auto;
    order: 10;
    @include breakpointMF(small-tablet) {
        .labs__list-item:nth-child(odd) & {
            margin-right: auto;
        }
        .labs__list-item:nth-child(even) & {
            margin-left: auto;
            text-align: right;
        }
    }

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 400;
        font-size: 2rem;
        line-height: 135%;
        order: -1;
        margin-bottom: auto;
        position: relative;
        z-index: 20;
        margin-top: 0;
    }
}

.labs__card-title-large-text {
    font-size: 2.8rem;
    line-height: 135%;
    font-weight: 700;
    display: block;
    text-transform: uppercase;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 700;
        font-size: 2rem;
        line-height: 135%;
    }
}

.labs__card-link {
    display: inline-flex;
    align-items: center;
    font-style: normal;
    font-weight: 800;
    font-size: 1.8rem;
    text-transform: uppercase;
    line-height: 150%;
    margin-bottom: auto;
    margin-left: auto;
    gap: 1rem;

    @include breakpoint(mobile) {
        display: none;
    }
    svg {
        flex-shrink: 0;
        width: 1.6rem;
        height: 1.8rem;
        flex-shrink: 0;
        fill: currentColor;
    }
}

.labs__bottom {
    @include breakpointMF(small-tablet) {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));

        & > span {
            height: 20rem;
            &:not(:first-child) {
                border-left: 1px solid #eeeeee;
            }
        }
    }

    @include breakpoint(mobile) {
        display: block;
        height: 4rem;
    }
}
