.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(#000000, 0.7);
    z-index: 200;
    padding: var(--content-padding);
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s, visibility 0s linear 0.4s;

    .no-touch & {
        @include customScrollbar();
    }

    &:not(.active) {
        right: calc(-1 * var(--sb-width, 0));
    }

    &.active {
        opacity: 1;
        visibility: inherit;
        transition: opacity 0.4s, visibility 0.4s;
    }
}

.modal__inner {
    width: 100%;
    background-color: #fff;
    position: relative;
    margin: auto;
    max-width: 80rem;
    display: flex;
}

.modal__left-col {
    width: 30rem;
    flex-shrink: 0;
    background-color: var(--primary-color);
    color: white;
    display: flex;
    flex-direction: column;

    @include breakpoint(mobile) {
        display: none;
    }
}

.modal__right-col {
    width: 50%;
    flex-grow: 1;
}

.modal__text-content {
    padding: 4.4rem 4rem;
    display: flex;
    flex-direction: column;
}

.modal__heading {
    font-style: normal;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 135%;
    margin-bottom: 1.9rem;
}

.modal__text {
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 150%;
}

.modal__image {
    display: block;
    width: 100%;
    height: auto;
    margin-top: auto;
}

.modal__form {
    padding: 4.4rem;
    display: flex;
    flex-direction: column;

    @include breakpoint(mobile) {
        padding: 1.6rem;
        padding-bottom: 4rem;
        padding-top: 4rem;
    }

    .parsley-errors-list.filled {
        padding: 0 1.6rem;
        font-style: normal;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 150%;
        color: #e2000f;
        margin-top: 0.8rem;
    }
}

.modal__form-heading {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 150%;
    margin-bottom: 3.2rem;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 600;
        font-size: 2rem;
        line-height: 135%;
        margin-bottom: 2.4rem;
    }
}

.modal__form-fields {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-gap: 1.2rem;
}

.modal__form-input-label {
    position: relative;
    display: block;
}

.modal__form-input {
    display: block;
    font: inherit;
    height: 4.8rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 150%;
    padding: 0 1.6rem;
    background: #f9f9f9;
    border: 1px solid #eeeeee;
    color: #000000;
    caret-color: #007c62;
    transition: border-color 0.2s, background-color 0.2s;
    &:focus {
        border-color: #004c3a;
    }

    &.parsley-success {
        border-color: #007c62;
    }

    &.parsley-error {
        background: #eed3d3;
        border-color: #e2000f;
    }
    @include placeholder {
        opacity: 0;
    }
}

.modal__form-input-placeholder {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 150%;
    // transition: opacity 0.2s, visibility 0.2s;
    pointer-events: none;
    user-select: none;
    padding: 0 1.6rem;
    color: #969696;
}

.modal__form-input[required] ~ .modal__form-input-placeholder {
    &::after {
        content: '*';
        font-style: normal;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 150%;
        color: #ff6060;
    }
}

.modal__form-input:focus ~ .modal__form-input-placeholder,
.modal__form-input:not(:placeholder-shown) ~ .modal__form-input-placeholder {
    opacity: 0;
    visibility: hidden;
    // transition: opacity 0.2s, visibility 0s linear 0.2s;
}

textarea.modal__form-input {
    resize: none;
    height: 18rem;
    padding: 1.2rem 1.6rem;
}

textarea.modal__form-input ~ .modal__form-input-placeholder {
    align-items: flex-start;
    padding: 1.2rem 1.6rem;
}

.modal__form-submit {
    display: block;
    width: 100%;
    padding: 1.9rem 3.6rem;
    text-align: center;
    margin-top: 2.4rem;
    font-style: normal;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: white;
    background-color: var(--primary-color);
}

.modal__close {
    position: absolute;
    right: 2.2rem;
    top: 2.2rem;
    width: 1.8rem;
    height: 1.8rem;
    z-index: 3;

    @include breakpoint(mobile) {
        right: 1.4rem;
        top: 1.4rem;
        width: 1.6rem;
        height: 1.6rem;
    }

    svg {
        display: block;
        width: 100%;
        height: 100%;
        fill: var(--primary-color);
    }
}
