.services {
    .container {
        display: flex;
        flex-direction: column;
    }
}

.services__content {
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
}

.services__top-row {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));

    @include breakpoint(mobile) {
        display: contents;
    }
}
.services__heading {
    @include sectionHeading;

    @include breakpointMF(small-tablet) {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
    }
}

.services__link-wrapper {
    display: flex;
    flex-direction: column;
    @include breakpointMF(small-tablet) {
        grid-row: 1 / 2;
        grid-column: 3 / 4;
    }

    @include breakpoint(mobile) {
        order: 10;

        &::after {
            content: '';
            display: block;
            height: 10rem;
            border-left: 1px solid #eeeeee;
            border-right: 1px solid #eeeeee;
        }
    }
}

.services__link {
    @include arrowLink;
    flex-grow: 1;
    color: var(--primary-color);
    &:link,
    &:visited {
        color: var(--primary-color);
    }

    @media (hover: hover) {
        &:hover {
            background-color: var(--primary-color);
            color: white;
        }
    }
}

.services__top {
    @include breakpointMF(small-tablet) {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));

        & > span {
            height: 10rem;
            &:not(:first-child) {
                border-left: 1px solid #eeeeee;
            }
        }
    }

    @include breakpoint(mobile) {
        display: block;
        height: 4rem;
    }
}

.services__bottom {
    @include breakpointMF(small-tablet) {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));

        & > span {
            height: 20rem;
            &:not(:first-child) {
                border-left: 1px solid #eeeeee;
            }
        }
    }

    @include breakpoint(mobile) {
        display: block;
        height: 4rem;
    }
}

.services__list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    grid-auto-rows: minmax(auto, 15rem);
    grid-auto-flow: dense;
    @include breakpoint(mobile) {
        display: grid;
        grid-template-columns: minmax(0, 1fr);
        grid-auto-rows: minmax(auto, 24rem);
    }
}

.services__list-item {
    display: flex;
    flex-direction: column;
    @include breakpointMF(small-tablet) {
        margin-bottom: -1px;
        border-bottom: 1px solid #eeeeee;

        &:not(:nth-child(4n)) {
            border-right: 1px solid #eeeeee;
            margin-right: -1px;
        }

        &:nth-child(4n + 1),
        &:nth-child(4n + 4) {
            grid-row: span 2;

            .services__card-content {
                margin-bottom: 0;
            }
        }

        &:nth-child(4n + 2),
        &:nth-child(4n + 3) {
            grid-column: 2 / 3;
        }
    }

    @include breakpoint(mobile) {
        border-bottom: 1px solid #eeeeee;
        &:last-child {
            border: none;
        }
    }
}

.services__card {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    position: relative;
    flex-grow: 1;
    transition: background-color 0.2s;
    svg {
        position: absolute;
        width: 1.6rem;
        height: 1.6rem;
        fill: var(--primary-color);
        right: 2rem;
        top: 2rem;
        transition: fill 0.2s;
    }

    @media (hover: hover) {
        &:hover {
            background: #007c62;

            svg {
                fill: white;
            }

            .services__card-text {
                color: white;
            }

            .services__card-title {
                color: white;
            }
        }
    }

    @include breakpoint(mobile) {
        padding: 2.4rem;
    }
}

.services__card-title {
    font-style: normal;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 135%;
    margin-bottom: 1.6rem;
    text-decoration: none;
    transition: color 0.2s;
    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 600;
        font-size: 2rem;
        line-height: 135%;
        margin-bottom: 1.2rem;
    }

    span {
        background-image: linear-gradient(var(--orange), var(--orange));
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 100% 1px;
        transition: background-size 0.25s ease-out;
    }
}

.services__card-text {
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 150%;
    color: #969696;
    transition: color 0.2s;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 160%;
    }
}

.services__card-content {
    margin: auto 0;

    @include breakpoint(mobile) {
        margin-bottom: 0;
    }
}
